{
  "env": {
    "test": {
      "presets": [
        ["@babel/preset-env", { "targets": { "node": "current" } }],
        ["@babel/preset-typescript", { "isTSX": true, "allExtensions": true }],
        "@babel/preset-react"
      ],
      "plugins": [
        ["babel-plugin-react-compiler", { "target": "19" }]
      ]
    },
    "production": {
      "presets": [
        ["@babel/preset-env"],
        ["@babel/preset-typescript", { "isTSX": true, "allExtensions": true }],
        ["@babel/preset-react", { "runtime": "automatic" }]
      ],
      "plugins": [
        ["babel-plugin-react-compiler", { "target": "19" }]
      ]
    },
    "commonjs": {
      "presets": [
        ["@babel/preset-env", { "modules": "commonjs" }],
        ["@babel/preset-typescript", { "isTSX": true, "allExtensions": true }],
        ["@babel/preset-react", { "runtime": "automatic" }]
      ],
      "plugins": [
        ["babel-plugin-react-compiler", { "target": "19" }]
      ]
    }
  },
  "presets": [
    ["@babel/preset-env", { "modules": false }],
    ["@babel/preset-typescript", { "isTSX": true, "allExtensions": true }],
    ["@babel/preset-react", { "runtime": "automatic" }]
  ],
  "plugins": [
    ["babel-plugin-react-compiler", { "target": "19" }],
    "@babel/plugin-transform-class-properties",
    "@babel/plugin-transform-object-rest-spread"
  ]
}
